{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">

<h1><center>Hang Their Man</center></h1>
<div class="bigdiv" style="width: 100%;">
  <div class="container1after" id="container1">
    <div class="row">
        <div class="col-lg">
            <div class = "leftside">
                <h3>Your Side</h3>
                <img class="yourman" src="hangman1.png" id="yourman">
                <p class="yourbox" class="yourbox">Your gang</p>
                <h4 class="yourword" id="yourword">word</h4>
            </div>
        </div>

        <div class="col-lg">
            <div class="rightside">
                <h3>The Opposition</h3>
                <img class= "oppman" src="hangman1.png" id= "oppman">
                <p class="oppbox" id="oppbox">OPP</p>
                <h4 class="oppword" id="oppword">_ _ _ _ _</h4>
            </div>
        </div>

    

    </div>


    <div class="container2">
        <div className="alphabet-container">
            <div class="btn-group" role="group" aria-label="First Row">
                <button type="button" class="btn btn-secondary letterbtn" id="A" onclick=checkLetter2(this.id)>A</button>
                <button type="button" class="btn btn-secondary letterbtn" id="B" onclick=checkLetter2(this.id)>B</button>
                <button type="button" class="btn btn-secondary letterbtn" id="C" onclick=checkLetter2(this.id)>C</button>
                <button type="button" class="btn btn-secondary letterbtn" id="D" onclick=checkLetter2(this.id)>D</button>
                <button type="button" class="btn btn-secondary letterbtn"id="E" onclick=checkLetter2(this.id)>E</button>
                <button type="button" class="btn btn-secondary letterbtn"id="F" onclick=checkLetter2(this.id)>F</button>
                <button type="button" class="btn btn-secondary letterbtn"id="G" onclick=checkLetter2(this.id)>G</button>
                <button type="button" class="btn btn-secondary letterbtn"id="H" onclick=checkLetter2(this.id)>H</button>
                <button type="button" class="btn btn-secondary letterbtn"id="I" onclick=checkLetter2(this.id)>I</button>
                <button type="button" class="btn btn-secondary letterbtn"id="J" onclick=checkLetter2(this.id)>J</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second Row">
                <button type="button" class="btn btn-secondary letterbtn"id="K" onclick=checkLetter2(this.id)>K</button>
                <button type="button" class="btn btn-secondary letterbtn"id="L" onclick=checkLetter2(this.id)>L</button>
                <button type="button" class="btn btn-secondary letterbtn"id="M" onclick=checkLetter2(this.id)>M</button>
                <button type="button" class="btn btn-secondary letterbtn"id="N" onclick=checkLetter2(this.id)>N</button>
                <button type="button" class="btn btn-secondary letterbtn"id="O" onclick=checkLetter2(this.id)>O</button>
                <button type="button" class="btn btn-secondary letterbtn"id="P" onclick=checkLetter2(this.id)>P</button>
                <button type="button" class="btn btn-secondary letterbtn"id="Q" onclick=checkLetter2(this.id)>Q</button>
                <button type="button" class="btn btn-secondary letterbtn"id="R" onclick=checkLetter2(this.id)>R</button>
                <button type="button" class="btn btn-secondary letterbtn"id="S" onclick=checkLetter2(this.id)>S</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second Row">
                <button type="button" class="btn btn-secondary letterbtn"id="T" onclick=checkLetter2(this.id)>T</button>
                <button type="button" class="btn btn-secondary letterbtn"id="U" onclick=checkLetter2(this.id)>U</button>
                <button type="button" class="btn btn-secondary letterbtn"id="V" onclick=checkLetter2(this.id)>V</button>
                <button type="button" class="btn btn-secondary letterbtn"id="W" onclick=checkLetter2(this.id)>W</button>
                <button type="button" class="btn btn-secondary letterbtn"id="X" onclick=checkLetter2(this.id)>X</button>
                <button type="button" class="btn btn-secondary letterbtn"id="Y" onclick=checkLetter2(this.id)>Y</button>
                <button type="button" class="btn btn-secondary letterbtn"id="Z" onclick=checkLetter2(this.id)>Z</button>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>

{% endblock %}
