{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">

<h1><center>Hang Their Man</center></h1>
<div class="bigdiv" style="width: 100%;">
  <div class="container1after" id="container1">
    <div class="row">
        <div class="col-lg">
            <div class = "leftside">
                <h3>Your Side</h3>
                <img class="yourman" src="hangman1.png">
                <p class="yourbox">Your gang</p>
                <h4 class="yourword">word</h4>
            </div>
        </div>

        <div class="col-lg">
            <div class="rightside">
                <h3>The Opposition</h3>
                <img class= "oppman" src="hangman1png">
                <p class="oppbox">OPP</p>
                <h4 class="oppword">_ _ _ _ _</h4>
            </div>
        </div>

    

    </div>
    <div class="container2">
        <div class="btn-group" role="group" aria-label="First Row">
            <button type="button" class="btn btn-secondary" id="letterbtn">A</button>
            <button type="button" class="btn btn-secondary" id="letterbtn">B</button>
            <button type="button" class="btn btn-secondary" id="letterbtn">C</button>
            <button type="button" class="btn btn-secondary" id="letterbtn">D</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">E</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">F</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">G</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">H</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">I</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">J</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second Row">
            <button type="button" class="btn btn-secondary"id="letterbtn">K</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">L</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">M</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">N</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">O</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">P</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">Q</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">R</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">S</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second Row">
            <button type="button" class="btn btn-secondary"id="letterbtn">T</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">U</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">V</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">W</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">X</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">Y</button>
            <button type="button" class="btn btn-secondary"id="letterbtn">Z</button>
        </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>

{% endblock %}
