{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">

<h1><center>Hang Their Man</center></h1>
<div class="bigdiv" style="width: 100%;">
  <div class="container1after" id="container1">
    <div class="row">
        <div class="col-lg">
            <div class = "leftside">
                <h3>Your Side</h3>
                <img class="yourman" src="hangman1.png" id="yourman">
                <p class="yourbox" class="yourbox">Your gang</p>
                <h4 class="yourword" id="yourword">word</h4>
            </div>
        </div>

        <div class="col-lg">
            <div class="rightside">
                <h3>The Opposition</h3>
                <img class= "oppman" src="hangman1.png" id= "oppman">
                <p class="oppbox" id="oppbox">OPP</p>
                <h4 class="oppword" id="oppword">_ _ _ _ _</h4>
            </div>
        </div>

    

    </div>


    <div class="container2">

        <div className="first-buttons">
            <button id="originalButton">Guess a Letter?</button>
        </div>

        <div className="alphabet-container" id="alphabet-container"></div>

        <button id="resetButton" style="display: none;">Reset</button>
    
    
    </div>



</div>

<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>

{% endblock %}
